aiofiles
aiohttp
apscheduler
asyncio
beautifulsoup4
cloudscraper
dnspython
emojis
ffmpeg-python
Faker
git+https://github.com/AsmSafone/SafoneAPI
gitpython
gpytranslate
gtts
hachoir
heroku3
httpx
img2pdf
instaloader
motor 
numpy<2.0.0
opencv-python
pillow
psutil
pickledb
pycountry
pycryptodome
pydub
pyfiglet
git+https://github.com/KurimuzonAkuma/pyrogram.git
python-dotenv
python-telegram-bot
pyshorteners
pytz
pytube
py-tgcalls==0.9.7
pyyaml
qrcode
requests
search_engine_parser
speedtest-cli
SpeechRecognition
spotipy
telegraph
tgcrypto
unidecode
wget
yt-dlp
youtube-search-python
flask
